<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bored !!! I will tell you what to do ??? </h1>    
    <form action="/submit" method="post">
        <button type="submit">Click Me</button>
    </form>

    

    <% if (locals.ActivityName && locals.NumberOfPersonNeeded) { %>
        <!-- Code to execute if the condition is true -->
        <h2>Activity Name = <%= locals.ActivityName %></h2>
        <h2>Number of person needed = <%= locals.NumberOfPersonNeeded %></h2>

    <% } %>
    
</body>
</html>