<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello Dosto</h1>
    <form action="/submit" method="post">
        <label for="name">Enter your name = </label>
        <input type="text" name="name">
        <br><br>
        <label for="age">Enter your age = </label>
        <input type="number" name="age">
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>