<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% let name = locals.nameOfPerson ,arr = locals.fruitName %>
    <h1>Hello mr <%= name %></h1>
    <ul>
        <% arr.forEach((item)=> { %>
            <li><%= item %></li>
        <% }); %>
    </ul>   
</body>
</html>